@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	scroll-behavior: smooth;
	cursor: pointer;
}


.nav-main-container{
	width: 100%;
	height: 60px;
	align-items: center;
	padding-top: 10px;
}

.nav-top-logo{
	width: 150px;
	height: 0px;
	margin-left: 36px;
	margin-top: 20px;
}
.nav-container{
	width: 150px;
	height: 30px;
	float: right;
	text-align: center;
	margin-top: -4px;
	margin-right: 45px;
	background-color: #E7812D;
	border-radius: 70px;
	padding-top: 10px;
	font-family: 'Bebas Neue', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}

.Profile {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 70px;
	padding-top: 15px;
}
.profile-container {
	justify-content: space-between;
	align-items: center;
	display: flex;
	/* [disabled]margin-top: 100px; */
	margin-right: 0;
	margin-left: 0;
	/* [disabled]margin-bottom: 100px; */
}
.profile-image-column-1{
	flex-basis: 50%;
	position: relative;
	display: flex;
	align-items: center;
}
.profile-image-column-2 {
	flex-basis: 50%;
	float: left;
	position: relative;
	margin-left: 200px;
}

.profile-image-column-2 h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 130px;
	letter-spacing: 5px;
	color: #285949;
}

.profile-image-column-2 p{
	font-family: "Poppins Thin";
	font-size: 16px;
	width: 75%;
	padding-top: 8px;
	color: #285949;
}


.profile-image-border {
	width: 90%;
}


.new-section2{
	justify-content: space-between;
	align-items: center;
	display: flex;
	margin-right: 0;
	margin-left: 0;
	/* [disabled]margin-bottom: 100px; */
}
.new-section2-deco{
	background-color: #208462;
	width: 70%;
	padding-right: 50px;
	padding-left: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 28px;
}
.new-section2-column-1{
	width: 50%;
	float: left;
	position: relative;
}
.new-section2-column-1 img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	padding-top: 10px;
}
.new-section2-column-2 h2{
	flex-basis: 50%;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 155px;
	font-family: 'Bebas Neue', cursive;
	font-size: 70px;
	letter-spacing: 3px;
	color: #FDFDFD;
}

.new-section2-column-2 p{
	font-family: "poppins-Light";
	font-size: 20px;
	padding-top: 20px;
	width: 90%;
	color: #DCEFE8;
}

.new-section2-1{
	justify-content: space-around;
	align-items: center;
	margin-top: 35px;
	width: 100%;
	display: flex;
	padding-bottom: 100px;
}

.new-section2-1-column{
	justify-content: space-around;
	align-items:center;
	display: grid;
	grid-template-columns: auto auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.new-section2-1-column img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin-bottom: 
; 	margin-bottom: -4px;
}

.new-section2-1-column h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
	letter-spacing: 3px;
	text-align: center;
	padding-top: 25px;
	color: #FFFFFF;
}

.new-section2-1-column p{
	font-family: "poppins-Light";
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #DCEFE8;
}

.new-section2-1-column-1{
	background: #208462;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 28px;
	margin-top: 25px;
}

.new-section2-1-column-2{
	background: #208462;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 28px;
	margin-top: 25px;
}

.new-section2-1-column-3{
	background: #208462;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 28px;
	margin-top: 25px;
}

.new-section2-1-column-4{
	background: #208462;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 28px;
	margin-top: 25px;
}


.section33{
	justify-content: space-around;
	align-items: center;
	padding-bottom: 40px;
	width: 100%;
}

.section33-conatiner{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.section33-column1 h1{
	align-items: center;
	justify-content: space-around;
	text-align: center;
	ffont-family: 'Bebas Neue', cursive;
	font-size: 90px;
	letter-spacing: 3px;
	color: #295949;
}

.section33-column2{
	justify-content: center;
	align-items: center;
	display: flex;
	padding-top: 10px;
}

.section33-column2 img{
	width: 10%;
	height: 10%;
	object-fit: cover;
	justify-content: center;
	display: grid;
	grid-template-columns: auto auto auto;
}

.section33-column3{
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	padding-top: 30px;
}

.section33-column3 img{
	width: 20%;
	height: 30%;
	object-fit: cover;
	margin-left: auto;
	margin-right: auto;
}


.Section3 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 60px;
	padding-top: 60px;
}
.section3-container {
	justify-content: space-between;
	align-items: center;
	display: flex;
	/* [disabled]margin-top: 100px; */
	margin-right: 0;
	margin-left: 0;
	/* [disabled]margin-bottom: 100px; */
}
.section3-column1{
	flex-basis: 60%;
	float: left;
	position: relative;
	margin-left: 250px;
}
.section3-column1{
	margin-right: 120px;
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	word-spacing: 7px;
	padding-left: 50px;
	text-align: right;
	color: #285949;
}
.section3-column2 {
	flex-basis: 40%;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 13px;
}
.comment-box{
	top: 50%;
	left: 50%;
	transform: translate(-50% -50%);
	width: 100%;
}
.comment-box input{
	width: 76%;
	height: 50px;
	padding: 0 20px;
	margin-bottom: 15px;
	border: 1px  solid #218462;
}

.comment-box input:focus{
	border: 1px solid #218462;
	outline: 0;
}
.comment-box textarea{
	width: 76%;
	height: 150px;
	padding: 15px 20px;
	margin-bottom: 15px;
	border: 1px  solid #218462;
}
.comment-box textarea:focus{
	border: 1px solid #218462;
	outline: 0;
}
.comment-box button{
	border: 0;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	background: #285949;
	font-size: 13px;
	border-radius: 8px;
	color: #FFFFFF;
	margin-right: 30px;
}
.comment-box button:hover{
	background: #EB8026
}

.gototop-button{
	position: fixed;
	bottom: 70px;
	right: 60px;
	font-size: 30px;
	color: #EB8026;
}

.footer{
	background-color: #218462;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-left: 0px;
	position: relative;
	width: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.footer p{
	color: #FFFFFF;
	font-family: "Poppins Medium";
}
.footer-social-link i {
	display: inline-block;
	width: 50px;
	text-align: center;
	color: #FFFFFF;
	transition: ease;
}
.footer-social-link i:hover {
	color:#CB9D14
}

@media (max-width : 400px){

.profile-container{
	display: flex;
	flex-direction: column-reverse;
	margin: 50px 0;
}
	.profile-image-column-2{
		text-align: center;
		margin-left: auto;
	}
	.profile-image-column-2 p{
		margin-left: auto;
		margin-right: auto;
		text-align: left;
	}
	.profile-image-column-1{
	}
	.section2-column{
		display: block;
	}

	.new-section2{
		display: flex;
	flex-direction:column;
	width: 90%;
		margin: 0 auto;
	}
	
	.new-section2-deco{
		padding-bottom: 30px;
	}
	.new-section2-column-1 img{
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		justify-content: center;
	}
	
	.new-section2-1-column{
		display: block;
		width: 100%;
	}
	
	.section33{
		display: flex;
	}
	.section33-column3{
		display: flex;
		padding-top: 20px;
	}
	
	.section33-column3 img{
		display: flex;
		object-fit: fill;
	}
	
	.section3-column{
	display: flex;
	flex-direction:column;
	margin: 0 auto;
	align-items: center;
		justify-content: space-around;
		text-align: center;
	}
	.section3-column1{
		display: block;
		margin: 0 auto;
		text-align: center;
		font-size: 40px;
		padding-bottom: 30px;
		margin-right: 90px;
	}
	.section3-column2{
		text-align: center;
	}
	
	.gototop-button{
		opacity: 0;
	}
	
}
