@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	scroll-behavior: smooth;
}


.nav-main-container{
	width: 100%;
	height: 60px;
	align-items: center;
	padding-top: 10px;
}

.nav-top-logo{
	width: 150px;
	height: 0px;
	margin-left: 36px;
	margin-top: 20px;
}
.nav-container{
	width: 150px;
	height: 30px;
	float: right;
	text-align: center;
	margin-top: -4px;
	margin-right: 45px;
	background-color: #E7812D;
	border-radius: 70px;
	padding-top: 10px;
	font-family: 'Bebas Neue', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #FFFFFF;
}

.Profile {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 5px;
	padding-top: 10px;
}
.profile-container {
	justify-content: space-between;
	align-items: center;
	display: flex;
	/* [disabled]margin-top: 100px; */
	margin-right: 0;
	margin-left: 0;
	/* [disabled]margin-bottom: 100px; */
}
.profile-image-column-1{
	flex-basis: 50%;
	position: relative;
	display: flex;
	align-items: center;
}
.profile-image-column-2 {
	flex-basis: 50%;
	float: left;
	position: relative;
	margin-left: 200px;
}

.profile-image-column-2 h2{
	font-family: 'Bebas Neue', cursive;
	font-size: 130px;
	letter-spacing: 5px;
	color: #285949;
}

.profile-image-column-2 p{
	font-family: "Poppins Thin";
	font-size: 16px;
	width: 75%;
	padding-top: 8px;
	color: #285949;
}


.profile-image-border {
	width: 90%;
}
.section2-container{
	background-color: #208462;
	padding-top: 50px;
	padding-bottom: 100px;
}

.section2-column{
	justify-content: space-around;
	align-items:;
	display: grid;
	grid-template-columns: auto auto auto;
}

.section2-column img{
	width: 100%;
	height: 100%;
	object-fit:cover;
}
.section2-column h2{
	text-align: center;
	font-family: "Poppins Medium";
	font-size: 20px;
	color: #FFFFFF;
}
.section2-column p{
	text-align: center;
	margin-top: 10px;
	font-family: 'Poppins Light';
	font-size: 12px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: #FFF9FA;
}
.section2-column2{
	padding-top: 110px;
}



.Section3 {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-bottom: 60px;
	padding-top: 60px;
}
.section3-container {
	justify-content: space-between;
	align-items: center;
	display: flex;
	/* [disabled]margin-top: 100px; */
	margin-right: 0;
	margin-left: 0;
	/* [disabled]margin-bottom: 100px; */
}
.section3-column1{
	flex-basis: 60%;
	float: left;
	position: relative;
	margin-left: 250px;
}
.section3-column1{
	margin-right: 120px;
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	word-spacing: 7px;
	padding-left: 50px;
	text-align: right;
	color: #285949;
}
.section3-column2 {
	flex-basis: 40%;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 13px;
}
.comment-box{
	top: 50%;
	left: 50%;
	transform: translate(-50% -50%);
	width: 100%;
}
.comment-box input{
	width: 76%;
	height: 50px;
	padding: 0 20px;
	margin-bottom: 15px;
	border: 1px  solid #218462;
}

.comment-box input:focus{
	border: 1px solid #218462;
	outline: 0;
}
.comment-box textarea{
	width: 76%;
	height: 150px;
	padding: 15px 20px;
	margin-bottom: 15px;
	border: 1px  solid #218462;
}
.comment-box textarea:focus{
	border: 1px solid #218462;
	outline: 0;
}
.comment-box button{
	border: 0;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	background: #285949;
	font-size: 13px;
	border-radius: 8px;
	color: #FFFFFF;
	margin-right: 30px;
}
.comment-box button:hover{
	background: #EB8026
}

.gototop-button{
	position: fixed;
	bottom: 70px;
	right: 60px;
	font-size: 30px;
	color: #EB8026;
}

.footer{
	background-color: #218462;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-left: 0px;
	position: relative;
	width: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.footer p{
	color: #FFFFFF;
	font-family: "Poppins Medium";
}
.footer-social-link i {
	display: inline-block;
	width: 50px;
	text-align: center;
	color: #FFFFFF;
	transition: ease;
}
.footer-social-link i:hover {
	color:#CB9D14
}

@media (max-width : 400px){

.profile-container{
	display: flex;
	flex-direction: column-reverse;
	margin: 50px 0;
}
	.profile-image-column-2{
		text-align: center;
		margin-left: auto;
	}
	.profile-image-column-2 p{
		margin-left: auto;
		margin-right: auto;
	}
	.profile-image-column-1{
	}
	.section2-column{
		display: block;
	}
	
	.section3-column{
	display: flex;
	flex-direction:column;
	margin: 50px auto auto;
	}
	.section3-column1{
		margin-left: auto;
		text-align: center;
		font-size: 30px;
		padding-bottom: 30px;
	}
	.section3-column2{
		text-align: center;
	}
}
